{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6">
        {{ .Content }}
      </div>
      <div class="col-12 col-md-5 col-lg-6 position-relative">
        <img alt={{ .Title }} class="intro-image" src="{{ .Params.intro_image | relURL }}" />
      </div>
    </div>
  </div>
</div>

{{ $headless := .Site.GetPage "/home/segments" }}
{{ $reusablePages := $headless.Resources.Match "*.md" }}

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {{ range (sort $reusablePages) }}
      <div class="col-12 col-md-6">
        {{ .Content }}
      </div>
      {{end}}
    </div>
  </div>
</div>

{{ end }}